ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Montserrat";
  }
  
  
  li a:hover {
    background-color:#c1a7db;
  }

  .active {
    background-color: #0d0d0d;
  } 

  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1 {
  font-family: "Cinzel Decorative";
  text-align: center;
  font-size: 7vw;
  margin: 1vw;
}

.tagline {
  font-family: "Bad Script";
  text-align: center;
  font-size: 2vw;
  margin-top: 0;
}

.main {
  width: 70%;
  margin: auto;

}

.summary {
  font-family: "Montserrat";
  font-size: 1vw;
  text-align: center;
}

p {
  font-family: "Montserrat";
}


h2 {
  font-family: "Montserrat";
  font-size: 3vw;
  text-align: center;
}

h3 {
  font-family: "Montserrat";
  font-size: 2vw;
  margin: 0;
}

.sprite-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
}

.sprite-element {
  flex: 50%;
  min-width: 200px;
  max-width: 30%;
}

.sprite-element img {
  display: block;
  max-width: 100%;
  text-align: center;
  margin: auto;
}

.bio-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.bio-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  height: 700px;
  width: 80%;
  margin: auto;
}

.bio-image {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-image img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.bio-text {
  flex: 1;
  margin: auto;
  text-align: left;
  padding: 0;
  max-height: 100%;
  width: 100%;
  font-size: fit-content;
}

@media (max-width: 800px) {
 .summary {
    font-size: 2vw;
  }

  h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 4vw;
  }

  .bio-container {
    flex-direction: column;
    height: auto;
  }
}