ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Montserrat";
  }
  
  
  li a:hover {
    background-color:#c1a7db;
  }

  .active {
    background-color: #0d0d0d;
  } 

  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1 {
  font-family: "Cinzel Decorative";
  text-align: center;
  font-size: 7vw;
  margin: 1vw;
}

.tagline {
  font-family: "Bad Script";
  text-align: center;
  font-size: 2vw;
  margin-top: 0;
}

.main {
  width: 70%;
  margin: auto;

}

.summary {
  font-family: "Montserrat";
  font-size: 1vw;
  text-align: center;
}

p {
  font-family: "Montserrat";
  font-size: 1.1vw;
}

h2 {
  font-family: "Montserrat";
  font-size: 3vw;
  text-align: center;
}

h3 {
  font-family: "Montserrat";
  font-size: 2.5vw;
}

.sprite-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
}

.sprite-element {
  flex: 50%;
  min-width: 200px;
  max-width: 30%;
}

.sprite-element img {
  display: block;
  max-width: 100%;
  text-align: center;
  margin: auto;
}

.bio-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 60px;
  height: 700px;

}

@media (max-width: 800px) {
  .bio-container {
    flex-direction: column;
    flex: 100%;
  }

  .bio-image {
    height: 300px;
  }
}

.bio-image {
  flex: 1;
  max-height: 700px;
  padding: 20px;
}

.bio-image img {
  display: block;
  /* height: 50vw; */
  text-align: vertical;
  margin: auto;
  /* max-width: 100%; */
  max-height: 100%

}

.bio-text {
  flex:2;
  margin: auto;
  text-align: left;
  max-height: 700px;
}